.custom-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background: transparent; /* Arrière-plan transparent en état normal */
  transition: background 0.3s, box-shadow 0.3s;
  padding: 10px 0; /* Ajout de padding pour le contenu */
  border-bottom: 2px solid transparent; /* Ligne blanche en bas */
}

.custom-header.scrolled {
  background: rgba(255, 255, 255, 0.8); /* Arrière-plan semi-transparent lorsqu'on défile */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre pour la séparation */
}

.custom-header .navbar-brand {
  font-weight: bold;
  color: #d6bd97;
  font-family: 'Dancing Script', cursive;
}


.custom-header .navbar-nav .nav-link {
  color: #333;
  margin-right: 15px;
  transition: color 0.3s;
}

.custom-header .navbar-nav .nav-link:hover {
  color: #f1ede7;
}

.navbar-toggler {
  border-color: transparent !important; /* Suppression de la couleur de bordure */
  background-color: transparent !important; /* Suppression de la couleur de fond */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(214, 189, 151, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")!important;
}

.offcanvas-header {
  border-bottom: 1px solid #c58585;
  background-color: #c5b59d;
}

.offcanvas-body {
  padding: 1rem;
  background-color: #cec3c3;
}

.offcanvas-body .nav-link {
  color: #5d4747;
  padding: 0.5rem 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.offcanvas-body .nav-link:hover {
  background-color: #c5b59d;
  width: 100%;
}

@media (min-width: 992px) {
 
  .ml-auto {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    text-align: center;
  }
}
