/* styles/Login.css */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #f8f9fa; /* Couleur de fond optionnelle */
  }
  
  .login-form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form .form-control {
    margin-bottom: 1rem;
  }
  
  .login-form .btn {
    background-color: #007bff;
    border: none;
  }
  
  .login-form .btn:hover {
    background-color: #0056b3;
  }
  